.information-blok {
  display: flex;
  padding: 20px;
}

.information-blok .book-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-right: 10px;
}

.information-blok .list-group {
  margin: 1rem 0 0 15px;
}

.information-blok .list-group-item {
  padding: 5px;
}

.information-blok .list-group-item .term {
  margin-right: 10px;
}
